<div class="user_index_container">
  <h1 id="main_view" >Listing Parts</h1>
  <div>
    <div class=" user_container">
      <% @parts.each do |part| %>
        <div class="row">

          <div class="col-sm">
            <%= link_to part_path(part) do %>
              <p><%= part.title %></p>
            <% end %>
          </div>
          <div class="col-sm">
            <%= link_to 'Edit', edit_part_path(part), class: "btn btn-light pv10 fw600 mb10"  %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
